@* @inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div> *@

@* MudBlazor initialization *@
@inherits LayoutComponentBase

<MudThemeProvider Theme = "_theme" IsDarkMode = "true"/>
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="0" Color="Color.Transparent" Style="background-color: #000000;">
        <MudLink Href="/" Underline="Underline.None">
            <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
                <MudImage Src="ScreenGrabLogo.png" Alt="ScreenGrab Logo" Height="40" />
            </MudStack>
        </MudLink>
    </MudAppBar>
    <MudMainContent Class="pt-16"> 
        @Body
    </MudMainContent>
</MudLayout>
@* end initialization *@


@code 
{
	// Define a dark theme for the application
    private MudTheme _theme = new MudTheme()
    {
        PaletteDark = new PaletteDark()
        {
            Background = Colors.Shades.Black,
			Surface = "#121212",
			TextPrimary = Colors.Shades.White
        }
    };
}



