@* @inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div> *@

@* MudBlazor initialization *@
@inherits LayoutComponentBase

<MudThemeProvider Theme = "_theme" IsDarkMode = "true"/>
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudLink Href="/" Underline="Underline.None">
            
        </MudLink>
    </MudAppBar>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>
@* end initialization *@

@* Dark Theme for whole site *@
@code 
{
    private MudTheme _theme = new MudTheme()
    {
        PaletteDark = new PaletteDark()
        {
            Background = Colors.Shades.Black,
			Surface = "#121212",
			TextPrimary = Colors.Shades.White
        }
    };
}
@* end dark mode theme *@


