@page "/about"

@* Centered 'For Engineers' Image *@
<div class="d-flex justify-center mt-8">
	<MudImage Src="AboutImg.png" Alt="For Engineers" Width="200" />
</div>

@* Centered text display *@
<div class="d-flex justify-center mt-8">
	<MudText Typo="Typo.h5" Style="color: #3d3fb8; max-width: 1000px; text-align: center;">
		ScreenGrab is a free and open-source screen capture tool designed for power users, systems engineers, and software developers. <br /> <br />
		It is built for the Windows platform and is meant to be a persistent system tray tool. <br /> <br />
		Screengrab can play a viable role in resolving your screen capture needs. <br /> <br />
		It offers a variety of screen capture options, built-in editing tools, and power user features to improve your workflow. <br /> <br />
		The tool is developed and maintained by Isaac Simms. <br /> <br />
		For bug reports, feature requests, or contributions, please visit our GitHub repository or contact us via email at screengrab.dev@outlook.com
	</MudText>
</div>

@* Repository links with images *@
<div class="d-flex justify-center gap-8 mt-8 mb-8">
	<MudLink Href="https://github.com/IsaacSimms/ScreenGrab" Underline="Underline.None" Target="_blank">
		<MudImage Src="ScreebGrab's RepoHeader.png" Alt="ScreenGrab App Repository" Width="350" />
	</MudLink>
	<MudLink Href="https://github.com/IsaacSimms/ScreenGrab-Website" Underline="Underline.None" Target="_blank">
		<MudImage Src="Website's Repo.png" Alt="ScreenGrab Website Repository" Width="300" />
	</MudLink>
</div>

@code {

}
