@page "/About"

@* Header Image *@
<div class="d-flex justify-center mt-8 page-container">
    <MudImage Src="images/AboutImg.png" Alt="About ScreenGrab" Class="responsive-img" Style="max-width: 250px; width: 60%;" />
</div>

@* Centered text display *@
<div class="d-flex justify-center mt-8 page-container">
    <MudText Typo="Typo.body1" Class="content-centered">
        ScreenGrab is a free and open-source screen capture tool designed for power users, systems engineers, and software developers. <br /><br />
        You are encouraged to use the tool in both personal and professional environments. Adherence to GNU General Public License v3 is required. <br /><br />
        It is built for the Windows platform and is meant to be a persistent system tray tool. <br /><br />
        ScreenGrab can play a vital role in resolving your screen capture needs. <br /><br />
        It offers a variety of screen capture options, built-in editing tools, and power user features to improve your workflow. <br /><br />
        The tool is built and maintained by Isaac Simms. <br /><br />
        For bug reports, feature requests, and contributions please visit the GitHub repository or send an email to screengrab.dev@outlook.com.
    </MudText>
</div>

@* Repository links with images *@
<div class="d-flex justify-center mt-8 mb-8 page-container">
    <div class="repo-links">
        <MudLink Href="https://github.com/IsaacSimms/ScreenGrab" Underline="Underline.None" Target="_blank">
            <MudImage Src="images/ScreenGrab's RepoHeader.png" Alt="ScreenGrab App Repository" Class="responsive-img" Style="max-width: 350px;" />
        </MudLink>
        <MudLink Href="https://github.com/IsaacSimms/ScreenGrab-Website" Underline="Underline.None" Target="_blank">
            <MudImage Src="images/Website's Repo.png" Alt="ScreenGrab Website Repository" Class="responsive-img" Style="max-width: 300px;" />
        </MudLink>
    </div>
</div>

@* Tips and tricks *@
<div class="d-flex justify-center mt-8 page-container">
    <div class="content-centered">
        <MudText Typo="Typo.h3" Style="color: #3d3fb8;" Class="mb-4" Align="Align.Center">
            Tips:
        </MudText>
        <MudText Typo="Typo.body1" Align="Align.Center">
            Change hotkeys and configurations in settings. <br /><br />
            Press Esc to close any open form that is in focus. <br /><br />
            Use the system tray for easy access. <br /><br />
            Build, fix, iterate, and have fun!
        </MudText>
    </div>
</div>

<div class="mb-16"></div>

@code {

}
