@page "/download"

@* Centered 'For Engineers' Image *@
<div class="d-flex justify-center mt-8">
	<MudImage Src="DownloadImg.png" Alt="Download Page Image" Width="350" />
</div>

@* Centered text display *@
<div class="d-flex justify-center mt-8">
	<MudText Typo="Typo.h5" Style="color: #3d3fb8; max-width: 1000px; text-align: center;">
		ScreenGrab is designed for the Windows operating system.  <br /> <br />
		At this time there is not a build for MacOS or Linux. <br /> <br />
		Pining ScreenGrab to your taskbar and enabling it as a startup application is recommended for the best experience. <br /> <br />
		ScreenGrab is configured for automatic updates to ensure you always have the latest features and bug fixes. <br /> <br />
		Download the latest version of ScreenGrab below: <br /> <br />
	</MudText>
</div>

@code {

}
