@page "/"


<PageTitle>Home</PageTitle> @* change later *@


@*<MudText Typo="Typo.h4">Screen Capture for the Systems and Software Engineer.</MudText>

@* Centered 'For Engineers' Image *@
<div class="d-flex justify-center mt-8">
	<MudImage Src="ForEngineersImg.png" Alt="For Engineers" Width="1200" />
</div>

@* Region Capture Example *@
<div class="d-flex justify-center mt-8">
	<div class="d-flex align-center" style="max-width: 1400px;">
		<MudImage Src="RegionCaptureExample.png" Alt="Region Capture Example" Width="800" />
		<div class="flex-grow-1 d-flex justify-center align-center pl-4">
			<div>
				<MudText Typo="Typo.h3" Style="color: #3d3fb8; white-space: nowrap;" Class="mb-4">
					Screenshot tools.
				</MudText>
				<MudText Typo="Typo.body1" Style="color: #3d3fb8" Align="Align.Center">
					Smooth region capture.<br />
					Process capture with active window.<br />
					Freeform for unique shapes and sizes.<br />
					Customizable delayed capture.
				</MudText>
			</div>
		</div>
	</div>
</div>

@* Editing Tools Example *@
<div class="d-flex justify-center mt-8 mb-8">
	<div class="d-flex align-center" style="max-width: 1400px;">
		<div class="flex-grow-1 d-flex justify-center align-center pr-4">
			<div>
				<MudText Typo="Typo.h3" Style="color: #3d3fb8; white-space: nowrap;" Class="mb-4">
					Image editing features.
				</MudText>
				<MudText Typo="Typo.body1" Style="color: #3d3fb8" Align="Align.Center">
					Annotate with arrows, shapes, or text.<br />
					Direct attention with highlight and blur.<br />
					Crop and resize to fit your needs.<br />
					Save time with built-in editing tools.
				</MudText>
			</div>
		</div>
		<MudImage Src="EditorExample.png" Alt="Editing Tools Example" Width="800" />
	</div>
</div>

@* Power user features example *@
<div class="d-flex justify-center mt-8 mb-8">
	<div class="d-flex align-center" style="max-width: 1400px;">
		<MudImage Src="SystemCaptureExample.png" Alt="Power User Features Example" Width="800" />
		<div class="flex-grow-1 d-flex justify-center align-center pl-4">
			<div>
				<MudText Typo="Typo.h3" Style="color: #3d3fb8; white-space: nowrap;" Class="mb-4" Align="Align.Center">
					Built for power users.
				</MudText>
				<MudText Typo="Typo.body1" Style="color: #3d3fb8" Align="Align.Center">
					Generate images and information on your active process in one functionality.<br />
					Aquire screenshots of UI elements with insights on that object.<br />
					Use OCR for seamless image to text conversion.<br />
					Lightweight, variable output formats, customizable hotkeys, and more. 
				</MudText>
			</div>
		</div>
	</div>
</div>