 @page "/"


<PageTitle>Home</PageTitle> @* change later *@


@*<MudText Typo="Typo.h4">Screen Capture for the Systems and Software Engineer.</MudText>

@* To About page button *@
<MudButton Variant="Variant.Outlined" Color="Color.Dark" Style="color: #3d3fb8" Href="/about">
	About
</MudButton>

@* To Download page button *@
<MudButton Variant="Variant.Outlined" Color="Color.Dark" Href="/download" Style="color: #3d3fb8">
	Download
</MudButton>

@* To Support Screengrab page button *@
<MudButton Variant="Variant.Outlined" Color="Color.Dark" Style="color: #4a4dc9">
    Support ScreenGrab
</MudButton>

@* Centered 'For Engineers' Image *@
<div class="d-flex justify-center mt-8">
	<MudImage Src="ForEngineersImg.png" Alt="For Engineers" Width="1000" />
</div>

