@page "/"


<PageTitle>ScreenGrab</PageTitle>

@* Hero Image - Responsive *@
<div class="d-flex justify-center mt-8 page-container">
    <MudImage Src="images/AddFunToScreenCapture.png" Alt="For Engineers" Class="responsive-img" Style="max-width: 1200px; width: 100%;" />
</div>

@* Region Capture Example *@
<div class="d-flex justify-center mt-8 page-container">
    <div class="feature-section">
        <div class="feature-image">
            <MudImage Src="images/RegionCaptureExample.png" Alt="Region Capture Example" Class="responsive-img" Style="max-width: 800px;" />
        </div>
        <div class="feature-text">
            <MudText Typo="Typo.h4" Style="color: #3d3fb8;" Class="mb-4" Align="Align.Center">
                Screenshot tools.
            </MudText>
            <MudText Typo="Typo.body1" Align="Align.Center">
                Smooth region capture.<br />
                Process capture with active window.<br />
                Freeform for unique shapes and sizes.<br />
                Customizable delayed capture.
            </MudText>
        </div>
    </div>
</div>

@* Editing Tools Example *@
<div class="d-flex justify-center mt-8 mb-8 page-container">
    <div class="feature-section reverse">
        <div class="feature-text">
            <MudText Typo="Typo.h4" Style="color: #3d3fb8;" Class="mb-4" Align="Align.Center">
                Image editing features.
            </MudText>
            <MudText Typo="Typo.body1" Align="Align.Center">
                Annotate with arrows, shapes, or text.<br />
                Direct attention with highlight and blur.<br />
                Crop and resize to fit your needs.<br />
                Save time with built-in editing tools.
            </MudText>
        </div>
        <div class="feature-image">
            <MudImage Src="images/EditorExample.png" Alt="Editing Tools Example" Class="responsive-img" Style="max-width: 800px;" />
        </div>
    </div>
</div>

@* Power user features example *@
<div class="d-flex justify-center mt-8 mb-8 page-container">
    <div class="feature-section">
        <div class="feature-image">
            <MudImage Src="images/SystemCaptureExample.png" Alt="Power User Features Example" Class="responsive-img" Style="max-width: 800px;" />
        </div>
        <div class="feature-text">
            <MudText Typo="Typo.h4" Style="color: #3d3fb8;" Class="mb-4" Align="Align.Center">
                Built for power users.
            </MudText>
            <MudText Typo="Typo.body1" Align="Align.Center">
                Generate images and information on your active process in one functionality.<br />
                Acquire screenshots of UI elements with insights on that object.<br />
                Use OCR for seamless image-to-text conversion.<br />
                Lightweight, variable output formats, customizable hotkeys, and more.
            </MudText>
        </div>
    </div>
</div>

@* Clickable download image *@
<div class="d-flex justify-center mt-8 mb-8 page-container">
    <MudLink Href="https://github.com/IsaacSimms/ScreenGrab/releases/download/v1.0.0/ScreenGrabInstaller1.0.0.msi" Underline="Underline.None" Target="_blank">
        <MudImage Src="images/ClickToDownload.png" Alt="Download ScreenGrab" Class="responsive-img" Style="max-width: 500px; width: 100%;" />
    </MudLink>
</div>