@page "/"


<PageTitle>Home</PageTitle> @* change later *@


@*<MudText Typo="Typo.h4">Screen Capture for the Systems and Software Engineer.</MudText>

@* Centered 'For Engineers' Image *@
<div class="d-flex justify-center mt-8">
	<MudImage Src="ForEngineersImg.png" Alt="For Engineers" Width="1000" />
</div>

@* Region Capture Example *@
<div class="d-flex justify-center mt-8">
	<div class="d-flex align-center" style="max-width: 1400px;">
		<MudImage Src="RegionCaptureExample.png" Alt="Region Capture Example" Width="800" />
		<div class="flex-grow-1 d-flex justify-center align-center pl-4">
			<div>
				<MudText Typo="Typo.h3" Style="color: #3d3fb8; white-space: nowrap;" Class="mb-4">
					The screenshots you need.
				</MudText>
				<MudText Typo="Typo.body1" Style="color: #3d3fb8">
					Region Select for clean, percise captures.<br />
					Active window for quick screenshots and apps.<br />
					Freeform for unique shapes and sizes.<br />
					Delayed capture when you need time to set up.
				</MudText>
			</div>
		</div>
	</div>
</div>
