 @page "/"


<PageTitle>Home</PageTitle> @* change later *@


@*<MudText Typo="Typo.h4">Screen Capture for the Systems and Software Engineer.</MudText>



@* Centered 'For Engineers' Image *@
<div class="d-flex justify-center mt-8">
	<MudImage Src="ForEngineersImg.png" Alt="For Engineers" Width="1000" />
</div>

